body {
	background-color: black;
	
}

header {
	min-height: 1.5em;
	font-family: "Montserrat", sans-serif;
	padding: 1.5em;
	opacity: 50%;
	
	z-index: 1;
}

#logo {
	float: left;
	color: white;
	font-size: 1.5em;
}

#logo a {
	text-decoration: none;
	color: white;
} 

ul {
	
	right: -20em;
	list-style-type: none;
}

li a {
	text-decoration: none;
	float: right;
	color: white;
	padding: 0 2em;
}

#background {
	margin: 0 1.5em;
	background-image: url("../images/background-1220X659.jpg");
	position: relative;
	max-width: 1330px;
	max-height: 888px;
	min-width: 30em;
	min-height: 40em;
}

.background-fade {
	transition: opacity 2s ease;
	opacity: 0;
}

.background-mover {
	transition: all 2s ease;
	transform: translate(0, 100%);
}

#instructions {
	position: relative;
	background: rgba(0, 0, 0, 0.5);	
	color: #E9DE5D;
	max-width: 30%;
	padding: 1.5em;
	left: 30%;
	
}

#instructions h1 {
	font-size: 2em;
	font-family: "Special Elite", sans-serif;
	margin: .5em;
	text-align: center;
}

#instructions h2 {
	margin: 1em;
	font-family: "Montserrat";
	text-shadow: 1px 1px black;
	line-height: 110%;
}

#instructions p {
	font-family: "Montserrat";	
	margin: 1em;
	text-shadow: 3px 1px black;
	line-height: 110%;
}

#continue {
	background: #E9DE5D;
	color: black;
	position: relative;
	padding: .5em;
	left: 4em;
	font-family: "Montserrat";	
}

#first-zombie {
	background-image: url("../images/zombie-one-cropped-243X355.png");
	height: 355px;
	width: 243px;
	position: relative;
	float: left;
	margin: 5em 0 0 2em;
}

#first-zombie:hover {
	filter: grayscale(50%);
}

#second-zombie {
	background-image: url("../images/zombie-two-355X464.png");
	height: 355px;
	width: 464px;
	position: relative;
	float: left;
	margin: 5em 0 0 2em;
}

#second-zombie:hover {
	filter: grayscale(50%);
}


#third-zombie {
	background-image: url("../images/zombie-three-214X355.png");
	height: 355px;
	width: 214px;
	position: relative;
	float: left;
	margin: 5em 0 0 2em;
}

#third-zombie:hover {
	filter: grayscale(50%);
}

.hidden {
	transition: opacity 2s ease;
	opacity: 0;
	
}

.unhidden {
	transition: opacity 2s ease;
	opacity: 1;
	
}

#choose {
	font-family: "Special Elite", sans-serif;
	font-size: 1.5em;
	color: #E9DE5D;
	text-shadow: 1px 1px #000000;
	position: absolute;
	left: 7em;
	top: -4em;
	float: left;
	margin: 5em 0 0 2em;
}

#fight-screen {
	height: 355px;
	width: 90%;
	background-color: black;
	color: white;
	position: relative;
	top: -3em;
	margin: 5em 0 0 2em;
}

#opponent-pic {
	float: left;
}

#opponent-info, #hp, #playerhp {
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
	line-height: 110%;
	position: relative;
	left: 2em;
	padding-top: 1em;
	max-width: 75%;
}

#opponent-info p {
	margin-top: 1em;
}

#attack {
	background: #E9DE5D;
	color: black;
	position: relative;
	padding: .5em;
	margin-top: 1.5em;
	left: 4em;
	font-family: "Montserrat";	
}

.overlay {
    background-image: -webkit-radial-gradient(rgba(193, 66, 66, 1.0) 0%, black 75%);	
}

#game-over {
	display: none;
	background-image: url('../images/gameover2-1024X576.png');
	height: 576px;
	width: 1024px;
	position: relative;
	top: -4.5em;
	color: #E9DE5D;
	font-family: "Special Elite", sans-serif;
	font-size: 2em;
	margin: 4em 0 0 2em;
}

#game-over h1 {
	margin: 5em 0 0 2em;

}

#you-win {
	display: none;
	float: left;
	position: relative;
	top: 10em;
	color: white;
	width: 15em;
	margin: 0 4em 0 4em;
}

#you-win-pic {
	position: relative;
	top: 5em;
}

#you-win h1 p {	
	line-height: 1.2em;
	color: white;
	font-family: "Montserrat", sans-serif;
}

#you-win h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	margin-bottom: 1em;
}

#you-win p {
	font-family: "Montserrat", sans-serif;
	font-size: 1.5em;
}
